---
layout: default
fancybox: true
---
{% for note in site.collections %}
  {% if note.label == "notes" %}
    {% assign notes = note %}
  {% endif %}
{% endfor %}

{% comment %}
Build the array of classes.
{% endcomment %}
{% assign delimiter = "," %}
{% assign names_str = "" %}
{% for file in notes.files %}
  {% assign names_arr = names_str | split: delimiter %}
  {% assign name = file.path | remove: "_notes/" | split: "/" | first %}
  {% unless names_arr contains name %}
      {% assign names_str = names_str | append: delimiter | append: name %}
  {% endunless %}
{% endfor %}

<div class="text-box">
  Notes find their way here!
  <br>
  <ul>
    <h3 style="margin-bottom: 0px">
      <li><a href="#" click="ee16a" class="click">EE 16A (SP 16 | AYAZIFAR & ALON)</a></li>
      <li><a href="#" click="math54" class="click">MATH 54 (SP 16 | YUAN)</a></li>
      <li><a href="#" click="gws100ac" class="click">GWS 100AC (SP 16 | BARNES)</a></li>
      <li><a href="#" click="math53" class="click">MATH 53 (FA 15 | GOMEZ)</a></li>
      <li><a href="#" click="physics7b" class="click">PHYSICS 7B (FA 15 | LANZARA)</a></li>
    </h3>
  </ul>
  <hr><br>
  {% for name in names_arr %}
    {% unless name == "" %}
      {% assign clean_name = name | replace: "-", " " %}
      {% assign clean_name_no_space = name | replace: "-", "" %}
      <div class="note" id="{{ clean_name_no_space }}" style="display: none;">
        <h2 style="margin-bottom: 0px">{{ clean_name | upcase }}</h2>
        {% assign files = notes.files | sort: "path" %}
        {% for file in files %}{% if file.path contains name %}
        {% assign link = file.path | remove: "_" | prepend: "/content/" %}
        <span style="white-space: nowrap;">
          <a class="fancybox" data-fancybox-group="{{ clean_name }}" href="{{ link }}">{{ file.path | remove: "_notes/" | split: "/" | last | remove: ".pdf" }}</a> &#x25A0;</span>{% endif %}{% endfor %}
        <br><br>
        {%- if clean_name == 'math 54' -%}
        Some notes (ones that fall on a Tuesday or Thursday) are from discussion sections.
        <br>
        Jonathan Gleason, the GSI that led these sections, passed away in 2018. I credit him and his discussions for giving me a deeper understanding of linear algebra. He cared a great deal for his students, had a knack for breaking down concepts, and devoted countless hours towards being available for extra help. You could <i>feel</i> his dedication and love for teaching. He wrote some <a href="https://github.com/GleasSpty">badass textbooks</a> on linalg and real analysis <i>just to prepare for teaching</i>. I'll never forget his favorite vector space: C^∞(R). Rest in peace, Jonny.
        {%- endif -%}
        <hr>
        <br>
      </div>
    {% endunless %}
  {% endfor %}
</div>
<script type="text/javascript">
  // Fancybox
  $(".fancybox").fancybox({
    width: "90%",
    height: "110%",
    type:'iframe',
    afterLoad: function() {
      this.title = '<div align="center"><a href="' + this.href + '" target="_blank"><button type="button" class="btn btn-primary btn-outline"><i class="fa fa-download"></i> Download</button></a></div>'
    },
    helpers : {
        title: {
            type: 'inside'
        }
    },
    loop: false,
    afterShow: function () {
      // initialize some variables
      var gallerySize = this.group.length,
          next, prev;
      if (this.index == gallerySize - 1) {
          // this is the last element of the gallery so next is the first
          next = $(".fancybox").eq(0).attr("title"),
          prev = $(".fancybox").eq(this.index - 1).attr("title");
      } else if (this.index == 0) {
          // this is the first image of the gallery so prev is the last
          next = $(".fancybox").eq(this.index + 1).attr("title"),
          prev = $(".fancybox").eq(gallerySize - 1).attr("title");
      } else {
          // otherwise just add or substract to index
          next = $(".fancybox").eq(this.index + 1).attr("title"),
          prev = $(".fancybox").eq(this.index - 1).attr("title");
      }
      // set title attributes to fancybox next/prev selectors
      $(".fancybox-next").attr("title", next);
      $(".fancybox-prev").attr("title", prev);
    }
  });

  function closeAll() {
    $('.note').css("display", "none");
  }

  $(".click").click(function ()
    {
      var className = "#" + $(this).attr("click");
      if (!$(className).is(":visible")) {
        closeAll();
        $(className).css("display", "block");
      }
    });
</script>
