<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <a href="#" class="back-to-top" style="display: inline;">
          <i class="fa fa-arrow-circle-up"></i>
        </a>
      </div>
    </div>

  </body>
<style>
  .back-to-top {
    cursor: hand;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: rgba(0, 17, 21, 0.5) !important;
    background-color: rgba(256, 256, 256, 0.5);
    text-align: center;
  }

  .back-to-top i {
    font-size: 60px;
  } 
</style>

<script>
 
$(document).ready(function() {
  var duration = 200;

  $('.back-to-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop: 0}, duration);
    return false;
  })
});
</script>
</html>

