---
layout: default
---
<div class="text-box">
  {% capture toc %}{% include _61a/toc.md %}{% endcapture %}
  {{ toc | markdownify }}
  <hr><br>
  {% capture 2-3-q-1 %}{% include _61a/2.3Q1.md %}{% endcapture %}
  {{ 2-3-q-1 | markdownify }}
  <hr><br>
  {% capture 2-3-q-2 %}{% include _61a/2.3Q2.md %}{% endcapture %}
  {{ 2-3-q-2 | markdownify }}
  <hr><br>
  {% capture 2-3-q-3 %}{% include _61a/2.3Q3.md %}{% endcapture %}
  {{ 2-3-q-3 | markdownify }}
  <hr><br>
  {% capture 2-4-q-1 %}{% include _61a/2.4Q1.md %}{% endcapture %}
  {{ 2-4-q-1 | markdownify }}
</div>

<a href="#" class="back-to-top" style="display: inline;">
  <i class="fa fa-arrow-circle-up"></i>
</a>

<style>
  .back-to-top {
    cursor: hand;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 20%;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #002b36 !important;
    background-color: transparent;
    text-align: center;
  }

  .back-to-top i {
    font-size: 60px;
  } 
</style>

<script>
 
$(document).ready(function() {
  var duration = 200;

  $('.back-to-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop: 0}, duration);
    return false;
  })
});
</script>