---
layout: default
---
<div class="text-box">
  {% capture toc %}{% include _61a/_disc10/toc.md %}{% endcapture %}
  {{ toc | markdownify }}
  <hr><br>
  {% capture 3-2-q-2 %}{% include _61a/_disc10/3.2Q2.md %}{% endcapture %}
  {{ 3-2-q-2 | markdownify }}
  <hr><br>
  {% capture 4-q-2 %}{% include _61a/_disc10/4Q2.md %}{% endcapture %}
  {{ 4-q-2 | markdownify }}
</div>

<a href="#" class="back-to-top" style="display: inline;">
  <i class="fa fa-arrow-circle-up"></i>
</a>

<style>
  .back-to-top {
    cursor: hand;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: rgba(0, 17, 21, 0.5) !important;
    background-color: rgba(256, 256, 256, 0.5);
    text-align: center;
  }

  .back-to-top i {
    font-size: 60px;
  } 
</style>

<script>
 
$(document).ready(function() {
  var duration = 200;

  $('.back-to-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop: 0}, duration);
    return false;
  })
});
</script>