---
extra_css:
  - /assets/css/autumn.css
  - https://afeld.github.io/emoji-css/emoji.css
extra_js:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML
  - /assets/js/top.js
---
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="wrapper">
        <div align="right">
          <a href="/blog">Blog</a> x <a href="/">vivi.sh</a>
        </div>
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta">
            {%- if page.date -%}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            {%- endif -%}
            {%- if page.collection and page.ignore != true -%}
            <a href="/blog/{{ page.collection }}">
            <span class="tag {{ page.collection }}"></span>
            </a>
            {%- endif -%}
            </p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
            <a href="#" class="back-to-top">
              back up
            </a>
          </div>
        </article>
        <div id="comments">
          Email me questions or comments at <span id="email"></span>!
        </div>
      </div>
    </div>
    <script>
      // Email (Spam Prevention)
      var username = "blog";
var hostname = "vivi.sh";
var linktext = username + "@" + hostname;
document.getElementById('email').innerHTML = '<a href="mailto:' + linktext + '">' + linktext + '</a>';
    </script>
  </body>
</html>
