---
layout: default
fancybox: true
ignore: true
title: Notes
meta: "UC Berkeley class notes"
---
{%- assign berkeley = "" | split: "" -%}
{% for c in site.data.notes.berkeley %}
  {%- assign berkeley = berkeley | push: c[0] -%}
{% endfor %}
{%- assign berkeley = berkeley | sort -%}

<div class="text-box">
  Notes find their way here!
  <br>
  <ul>
    <h3 style="margin-bottom: 0px">
      {% for c in berkeley %}
      {%- assign class = site.data.notes.berkeley[c] -%}
      <li><a href="#" click="{{ class.abbrev }}" class="click">{{ class.name }}</a></li>
      {% endfor %}
      <li><a href="#" click="assorted" class="click">ASSORTED NOTES</a></li>
    </h3>
  </ul>
  <hr><br>

  {% for c in berkeley %}
  {%- assign class = site.data.notes.berkeley[c] -%}
  <div class="note" id="{{ class.abbrev }}" style="display: none;">
    <h2 style="margin-bottom: 0px">{{ class.name }}</h2>
    {% for note in class.notes %}
    <span style="white-space: nowrap;">
      <a class="fancybox" data-fancybox-group="{{ class.abbrev }}" href="{{ note.link | append: "/preview" }}">{{ note.name }}</a> &#x25A0;
    </span>
    {% endfor %}
    <br><br>
    {{ class.comment | markdownify }}
    <hr>
    <br>
  </div>
  {% endfor %}
{%- assign notes = site.notes | where_exp: "note","note.ignore != true" | sort: 'date' | reverse -%}
  <div class="note" id="assorted" style="display: none;">
    <h2 style="margin-bottom: 0px">ASSORTED NOTES</h2>
    <ul>
    {% for note in notes %}
      <li><a href="{{ note.url }}">
          {{ note.date | date: "(%Y) %b. %d" }}: {{ note.title }}
      </a></li>
    {% endfor %}
    </ul>
  </div>
</div>

<script type="text/javascript">
  // Fancybox
  $(".fancybox").fancybox({
    width: "90%",
    height: "110%",
    type:'iframe',
    afterLoad: function() {
      let link = this.href.replace("/preview", "/view");
      this.title = '<div align="center"><a href="' + link + '" target="_blank">Download</a></div>'
    },
    helpers : {
        title: {
            type: 'inside'
        }
    },
    loop: false,
    afterShow: function () {
      // initialize some variables
      var gallerySize = this.group.length,
          next, prev;
      if (this.index == gallerySize - 1) {
          // this is the last element of the gallery so next is the first
          next = $(".fancybox").eq(0).attr("title"),
          prev = $(".fancybox").eq(this.index - 1).attr("title");
      } else if (this.index == 0) {
          // this is the first image of the gallery so prev is the last
          next = $(".fancybox").eq(this.index + 1).attr("title"),
          prev = $(".fancybox").eq(gallerySize - 1).attr("title");
      } else {
          // otherwise just add or substract to index
          next = $(".fancybox").eq(this.index + 1).attr("title"),
          prev = $(".fancybox").eq(this.index - 1).attr("title");
      }
      // set title attributes to fancybox next/prev selectors
      $(".fancybox-next").attr("title", next);
      $(".fancybox-prev").attr("title", prev);
    }
  });

  function closeAll() {
    $('.note').css("display", "none");
  }

  $(".click").click(function ()
    {
      var className = "#" + $(this).attr("click");
      if (!$(className).is(":visible")) {
        closeAll();
        $(className).css("display", "block");
      } else {
        closeAll();
      }
    });
</script>
